<!--success/failure ek array hai isliye hmko check krna pdega ki success exist kre aur wo khali bhi na ho-->


<style>
  .alert .btn-close {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
  }

  .alert .btn-close:hover {
    background-color: transparent !important;
    opacity: 0.8;
  }
</style>


<!-- flash message for success -->
<% if (success && success.length) { %>
  <div class="alert alert-success alert-dismissible fade show mx-auto mt-3" role="alert" style="max-width: 600px;">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<!-- flash message for error -->
<% if (error && error.length) { %>
  <div class="alert alert-danger alert-dismissible fade show mx-auto mt-3" role="alert" style="max-width: 600px;">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<!-- flash message for info -->
<% if (messages.info) { %>
  <div class="alert alert-info alert-dismissible fade show mx-auto mt-3" role="alert" style="max-width: 600px;">
    <%= messages.info %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

