<% layout('/layouts/boiler-plate.ejs') %>

        <body>
            <h2>Nested Data Form</h2>
            <form method="POST" action="/demo?_method=PATCH">
                <label>Title:</label>
                <input type="text" name="listing[title]" value="My Nested Title" />
                <br />
                <label>Price:</label>
                <input type="number" name="listing[price]" value="200" />
                <br />
                <button type="submit">Submit Nested</button>
            </form>
            <hr>
            <hr>
            <h2>Flat Data Form</h2>
            <form method="POST" action="/demo?_method=PATCH">
                <label>Title:</label>
                <input type="text" name="title" value="My Flat Title" />
                <br />
                <label>Price:</label>
                <input type="number" name="price" value="300" />
                <br />
                <button type="submit">Submit Flat</button>
            </form>

        </body>